.manage-service-container {
    width         : 80%;
    padding       : 2%;
    padding-bottom: 5%;

    .title {
        font-size    : 2em;
        font-weight  : 600;
        margin-bottom: 3%;
    }

    .service-body {
        .manage-payment {
            .accordion-button {
                font-size  : 0.8em;
                font-weight: 600;
                color      : rgb(62, 54, 63);
            }

            .accordion-body {
                .add-btn {
                    margin: 2% 0;
                }
            }

        }

        .manage-transport {
            .accordion-button {
                font-size  : 0.8em;
                font-weight: 600;
                color      : rgb(62, 54, 63);
            }

            .accordion-body {
                .add-btn {
                    margin: 2% 0;
                }
            }
        }

        .manage-price {
            .accordion-button {
                font-size  : 0.8em;
                font-weight: 600;
                color      : rgb(62, 54, 63);
            }

            .accordion-body {
                .add-btn {
                    margin: 2% 0;
                }
            }
        }

        .manage-package {
            .accordion-button {
                font-size  : 0.8em;
                font-weight: 600;
                color      : rgb(62, 54, 63);
            }

            .accordion-body {
                .add-btn {
                    margin: 2% 0;
                }

                .table {
                    text-align: center;
                }
            }
        }
    }
}