.track-outer {
    border          : 1px solid white;
    padding-bottom  : 8%;
    background-color: white;
    border-bottom   : 4px solid white;


    .track-container {
        .title {
            font-size       : 1.7em;
            font-weight     : 600;
            margin          : 2% 0;
            background-color: #4c9b4c;
            border-radius   : 38px;
            padding         : 1%;
            width           : 20%;
            text-align      : center;
            font-style      : italic;
            margin-left     : 2%;
            color           : white;

            @media screen and (max-width: 970px) {
                font-size    : 1.5em;
                width        : 57%;
                margin-bottom: 3%;
            }
        }

        .track-body {
            display: flex;

            @media screen and (max-width: 970px) {
                flex-direction: column;
            }

            .track-form {
                background    : #CBECBC;
                width         : 55%;
                border-radius : 15px;
                padding       : 2%;
                padding-bottom: 0;

                @media screen and (max-width: 970px) {
                    width: 100%;

                    .input-orderID {
                        width: 73%;
                    }

                    .track {
                        width: 25%;

                        button {
                            width: 100%;
                        }
                    }
                }

                .orderID-input {
                    background-color: #fff;
                    border-radius   : 15px;

                    &:focus {
                        background-color: #fff;

                    }
                }

                label {
                    font-weight: 600;
                }

                .track-btn {
                    height          : 57px;
                    width           : 6.5vw;
                    max-width       : 100px;
                    background-color: #4c9b4c;
                    color           : white;
                    border-radius   : 15px;
                    border          : 1px solid #b6e3a1;
                    font-weight     : 600;
                    font-size       : 1.2em;

                    &:hover {
                        background-color: #76a85f;
                        border          : 1px solid #6e965c;
                    }
                }

                .order-status {
                    height          : 30vh;
                    background-color: #CBECBC;
                    border-radius   : 15px;
                    width           : 96%;
                    margin-left     : 2%;
                    padding         : 3% 5%;

                    .condition-title {
                        font-size    : 1.1em;
                        font-weight  : 500;
                        margin-bottom: 2%;
                    }

                    .condition-detail {
                        margin-bottom: 2%;
                    }
                }
            }

            .track-list {
                margin-left     : 3%;
                margin-top      : 2%;
                background-color: #CBECBC;
                border-radius   : 15px;
                padding         : 2% 3%;
                min-width       : 400px;

                @media screen and (max-width: 970px) {
                    margin-left: 0;
                    width      : 100% !important;
                    min-width  : 0;
                }


                .begin-date {
                    display    : flex;
                    align-items: center;
                    gap        : 10px;
                    color      : #4c3f3f;
                    font-weight: 500;
                }

                .bar-unit {
                    .border-left {
                        border-left: 5px solid #4c3f3f;
                        margin-left: 5px;
                        color      : #CBECBC;
                    }

                    .date-info {
                        display    : flex;
                        align-items: center;
                        gap        : 10px;
                        color      : #4c3f3f;
                        font-weight: 500;
                    }
                }
            }
        }


    }
}