.footer-container {
    .contact-info {
        font-weight: 500;
        margin-top : 5%;
    }

    .find-us {
        margin-top : 3%;
        font-weight: 500;
        font-size  : 1.2em;
    }

    .footer-icon-container {
        display      : flex;
        gap          : 20px;
        margin-bottom: 3%;
        margin-top   : 1%;

        .fb-logo {
            width: 50px;
        }

        .google-logo {
            width: 50px;
        }

        .youtube-logo {
            width: 50px;
        }
    }
}