.booking-success-outer {
    border          : 1px solid #9ECE9D;
    padding-bottom  : 8%;
    background-color: #fff;
    border-bottom   : 4px solid #087c06;

    .booking-success-container {
        .booking-title {
            display         : flex;
            background-color: #4c9b4c;
            margin-top      : 4%;
            padding         : 1% 2%;
            border-radius   : 60px;
            color           : white;
            width           : 75%;
            margin-left     : 4%;

            .cele {
                width       : 80px;
                margin-left : 20px;
                margin-right: 20px
            }

            .title {
                margin-top: 20px;
            }
        }

        .booking-success-info {
            margin-top      : 2%;
            display         : flex;
            align-items     : center;
            background-color: #CBECBC;
            border-radius   : 105px;
            width           : 95%;
            margin-left     : 2%;
            padding         : 2% 0;
            padding-left    : 6%;

            .id {
                margin-top: 25px;

                .transaction-title {
                    font-size    : 2vw;
                    font-weight  : 600;
                    margin-bottom: 4%;
                }

                .transaction-info {
                    font-size  : 1.5vw;
                    font-weight: 600;
                }

            }

            .Date {
                margin-top : 25px;
                margin-left: 4.4vw;

                .date-title {
                    font-size    : 2vw;
                    font-weight  : 600;
                    margin-bottom: 4%;
                }

                .date-info {
                    font-size  : 1.5vw;
                    font-weight: 600;
                }

            }

            .estimated-time {
                margin-top : 25px;
                margin-left: 4.4vw;

                .estimated-title {
                    font-size    : 2vw;
                    font-weight  : 600;
                    margin-bottom: 1%;
                }

                .estimated-info {
                    font-size  : 1.5vw;
                    font-weight: 600;
                }

            }

            .cargo {
                width       : 100px;
                height      : 100px;
                display     : flex;
                justify-self: center;
                align-self  : center;
            }
        }

        .footer {
            .footer-bar {
                margin-top : 20px;
                margin-left: 550px;

                .Home {
                    background-color: #13c1fc;
                    color           : white;
                    width           : 250px;
                    text-align      : center;
                    border-radius   : 60px/60px;
                    height          : 45px;
                    padding         : 2%;

                    &:hover {
                        background-color: #2cadd8;
                    }
                }

                .Track {
                    background-color: #13c1fc;
                    width           : 200px;
                    text-align      : center;
                    border-radius   : 60px;
                    height          : 45px;
                    padding         : 2%;

                    &:hover {
                        background-color: #2cadd8;
                    }

                    .track {
                        color: white;
                    }
                }

            }



        }
    }
}