.booking-outer {
    border          : 1px solid #9ECE9D;
    padding-bottom  : 8%;
    background-color: #fff;
    border-bottom   : 4px solid #087c06;

    .booking-container {
        margin-top: 30px;

        .title {
            font-size  : 3em;
            font-weight: 900;
            text-align : center;
            margin     : 3% 0;
        }

        .booking-body {
            display       : flex;
            padding       : 2% 0;
            gap           : 30px;
            flex-direction: column;
            align-items   : center;

            .bird-customer-body {
                width: 85%;

                .customer-info {
                    background-color: #CBECBC;
                    border-radius   : 10px;
                    padding         : 2% 7%;
                    margin-bottom   : 3%;

                    .customer-title {
                        text-align   : center;
                        font-weight  : 600;
                        font-size    : 1.5em;
                        margin-bottom: 3%;
                    }

                    .col {
                        margin-right: 30px;
                    }

                    .form-label {
                        font-weight: 600;
                        font-size  : 1.1em;
                    }

                    .add-sender {
                        margin-bottom: 3%;

                        span {
                            font-style: italic;
                            color     : rgb(150, 150, 150);
                            font-size : 1.1em;
                            cursor    : pointer;

                            &:hover {
                                color: rgb(80, 80, 80);
                            }
                        }
                    }
                }

                .bird-info {
                    background-color: #CBECBC;
                    border-radius   : 10px;
                    padding         : 2% 7%;
                    margin-bottom   : 3%;

                    .bird-title {
                        text-align   : center;
                        font-weight  : 600;
                        font-size    : 1.5em;
                        margin-bottom: 3%;
                    }

                    .col {
                        margin-right: 30px;

                        .form-check-label {
                            cursor     : pointer;
                            font-weight: 600;
                            font-size  : 1.1em;
                        }

                        &.btn-outer {
                            display       : flex;
                            flex-direction: column;
                        }
                    }


                    .form-label {
                        font-weight: 600;
                        font-size  : 1.1em;
                    }

                    .btn-group-bird {
                        display        : flex;
                        justify-content: flex-end;
                        gap            : 10px;

                        .remove-bird-btn {
                            margin-top   : 13%;
                            border-radius: 30px;

                        }

                        .add-bird-btn {
                            background-color: #33CCFF;
                            border          : 1px solid #13c1fc;
                            margin-top      : 13%;
                            border-radius   : 30px;


                            &:hover {
                                background-color: #0ca4d6;
                            }
                        }
                    }

                }
            }

            .package-body {
                width           : 85%;
                background-color: #CBECBC;
                border-radius   : 10px;
                padding         : 2% 7%;

                .package-title {
                    text-align   : center;
                    font-weight  : 600;
                    font-size    : 1.5em;
                    margin-bottom: 3%;
                }

                .table {
                    background-color: #e9e9e9;
                    border-radius   : 15px;
                    text-align      : center;
                    margin-bottom   : 6%;

                }

                .col {
                    .form-check-input {
                        margin-right: 25px;
                    }

                    .form-check-label {
                        cursor     : pointer;
                        font-weight: 600;
                        font-size  : 1.1em;
                    }
                }

                .form-label {
                    font-weight: 600;
                    font-size  : 1.1em;
                }
            }

            .transport-body {
                width           : 85%;
                background-color: #CBECBC;
                border-radius   : 10px;
                padding         : 2% 7%;

                .transport-title {
                    text-align   : center;
                    font-weight  : 600;
                    font-size    : 1.5em;
                    margin-bottom: 3%;
                }

                .col {
                    margin-right: 5%;

                    .form-check-input {
                        margin-right: 25px;
                    }

                    .form-check-label {
                        cursor     : pointer;
                        font-weight: 600;
                        font-size  : 1.1em;
                    }
                }

                .form-label {
                    font-weight: 600;
                    font-size  : 1.1em;
                }



                .confirm-order-btn {
                    background-color: #33CCFF;
                    border          : 1px solid #13c1fc;
                    margin-top      : 5%;
                    float           : right;
                    border-radius   : 30px;
                    width           : 100px;
                    margin-right    : 5%;

                    &:hover {
                        background-color: #0ca4d6;
                    }
                }
            }
        }
    }
}