.booking-success-container {
    .booking-title {
        display: flex;
        background-color: green;
        margin-left: 60px;
        margin-right: 500px;
        margin-top: 50px;
        border-radius: 60px/60px;
        color:white;
        .cele {
            width: 80px;
            margin-left: 20px;
            margin-right: 20px
        }

        .title {
            margin-top: 20px;
        }
    }

    .booking-success-info {
        margin-top: 30px;
        display: flex;
        background-color: #a3e681;
        
        border-radius:60px/60px;
        .id {
            margin-left: 200px;
            margin-top: 25px;
        }

        .Date {
            margin-top: 25px;
            margin-left: 150px;
        }

        .estimated-time {
            margin-top: 25px;
            margin-left: 150px;
        }

        .cargo {
            width: 100px;
            height: 100px;
            margin-top: 50px;
            margin-left: 150px;
        }
    }

    .footer {
        .footer-bar {
            margin-top: 20px;
            margin-left: 550px;

            .Home {
                background-color: rgb(58, 247, 184);
                color: white;
                width: 200px;
                text-align: center;
                border-radius: 60px/60px;
                height:45px
            }

            .Track {
                background-color: rgb(58, 247, 184);
                width: 200px;
                text-align: center;
                border-radius: 60px/60px;
                height:45px;
                .track {
                    color: white;
                }
            }

        }



    }
}