.faqs-outer {
    border          : 1px solid #9ECE9D;
    padding-bottom  : 8%;
    background-color: #fff;
    border-bottom   : 4px solid #087c06;

    .faqs-container {
        .faq-header {
            .title {
                text-align      : center;
                border-radius   : 10px;
                background-color: #85c697;
                margin          : 3%;
                font-size       : 2em;
                font-weight     : 600;
                padding         : 1% 0;
                color           : white;
                width           : 45%;

                @media screen and (max-width: 970px) {
                    width    : 68%;
                    font-size: 1.5em;
                }
            }
        }

        .faq-body {
            width : 90%;
            margin: 0 auto;
        
        .accordion-button{
            background-color: #85c697;
            color           :white;
        }
        .accordion-button:hover{
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
        .accordion-item {
            background-color: #c0e5c0 !important;
        }
        .accordion-button::after{
            transition: all 0.3s ease-in-out;
        }
        
        }
    }
}