.faqs-outer {
    border          : 1px solid #9ECE9D;
    padding-bottom  : 8%;
    background-color: #fff;
    border-bottom   : 4px solid #087c06;

    .faqs-container {
        .faq-header {
            .title {
                text-align      : center;
                border-radius   : 10px;
                background-color: #85c697;
                margin          : 3%;
                font-size       : 2em;
                font-weight     : 600;
                padding         : 1% 0;
                color           : white;
                width           : 45%;

                @media screen and (max-width: 970px) {
                    width    : 68%;
                    font-size: 1.5em;
                }
            }
        }

        .faq-body {
            width : 90%;
            margin: 0 auto;

            .accordion-item {
                background-color: azure;
            }
        }
    }
}