.account-detail-container{
    display: flex;
    margin: 2rem 3rem;
    background-color: #CBECBC;
    padding: 2rem;
}

.account-detail-container img{
    width: 50%;
    border-radius:50%;
    margin: 0.5rem;
}

.ProfileOptions{
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 5rem;
}

.ProfileOptions button{
    width: 10rem;
    border: none;
    margin: 0.5rem;
    border-radius: 2rem;
    padding: 0.2rem 2rem;
}

.ProfileForm{
    display: flex;
    flex-direction: column;
    background-color: #C7D9B1;
    padding: 2rem 2rem 2rem 5rem;
    font-weight: 500;
    border-radius: 1.5rem;
}

.Input{
    display: flex;
    align-items: center;
    margin: .8rem;
}

.ProfileForm label{
    width:5rem;
}

.ProfileForm input{
    width: 30rem;
    padding: .5rem;
    margin-left: 2rem;
    border-radius: 1rem;
    border: 0;
}

.ProfileFormSave{
    margin-top: 2rem;
    display: flex;
    justify-content: right;
}

.ProfileFormSave a img{
    width: 50%;
}

.ProfileFormSave a{
    width: 8%;
}



