.view-history-container {
    .Header {
        text-align      : center;
        border-radius   : 10px;
        background-color: #9ECE9D;
        margin-top      : 30px;
        margin-bottom   : 30px;
    }

    .back-button {
        text-align: center;
        margin    : 3% 0;
    }
}