.history-outer {
    border          : 1px solid #9ECE9D;
    padding-bottom  : 8%;
    background-color: #9ECE9D;
    border-bottom   : 4px solid #087c06;

    .view-history-container {
        padding   : 0 4%;
        margin-top: 5%;

        .Header {
            text-align      : center;
            border-radius   : 15px;
            background-color: #519345;
            padding         : 1% 0;
            color           : white;
            width           : 30%;
        }

        .history-table {
            margin-top   : 5%;
            border-radius: 15px;

        }

        .back-button {
            margin: 3% 0;
        }
    }
}