.price-outer {
    border          : 1px solid #9ECE9D;
    padding-bottom  : 8%;
    background-color: #9ECE9D;
    border-bottom   : 4px solid #087c06;

    .price-container {
        display   : flex;
        margin-top: 30px;
        padding   : 0 4%;

        .price-info {
            .price-method {
                margin-top      : 9%;
                background-color: #85c697;
                width           : 400px;
                text-align      : center;
                color           : white;
                border-radius   : 30px;
                padding         : 12% 0;

                .pic {
                    display   : flex;
                    width     : 70px;
                    height    : 70px;
                    margin-top: 20px;

                    .momo {
                        margin-right: 20px;
                        margin-left : 20px;
                        width       : 80px;
                        height      : 80px;
                    }

                    .vnp {
                        margin-left: 60px;
                    }

                    .paypal {
                        margin-left: 20px;
                        width      : 90px;
                        height     : 90px;
                    }
                }
            }

            .info {
                background-color: #85c697;
                width           : 400px;
                text-align      : justify;
                font-size       : 1.2em;
                border-radius   : 30px;
                padding         : 4% 8%;
                font-style      : italic;
                font-weight     : 500;
            }
        }

        .price-table {
            background-color: #85c697;
            margin-left     : 3%;
            width           : 66%;
            font-size       : large;
            text-align      : center;

            .table {
                .highlight {
                    background-color: black;
                    color           : white;
                    font-weight     : 700;
                }
            }
        }
    }
}