.price-outer {
    border          : 1px solid #9ECE9D;
    padding-bottom  : 8%;
    background-color: white;
    border-bottom   : 4px solid #087c06;

    .price-container {
        display   : flex;
        margin-top: 30px;
        padding   : 0 4%;

        .price-info {
            width: 35%;

            .price-method {
                border: 3px solid #9ECE9D;
                margin-top      : 9%;
                background-color: white;
                text-align      : center;
                color           : blacck;
                border-radius   : 30px;
                padding         : 12% 0;

                .pic {
                    display        : flex;
                    gap            : 30px;
                    margin-top     : 20px;
                    align-items    : center;
                    justify-content: center;

                    .momo {
                        width : 23%;
                        height: 2%;
                    }

                    .vnp {
                        width : 18%;
                        height: 2%;
                    }

                    .paypal {
                        width : 24%;
                        height: 2%;
                    }
                }
            }

            .info {
                border: 3px solid #9ECE9D;
                background-color: white;
                text-align      : justify;
                font-size       : 1.2em;
                border-radius   : 30px;
                padding         : 4% 8%;
                font-style      : italic;
                font-weight     : 500;
            }
        }

        .price-table {
            border: 1px solid #9ECE9D;
            background-color: rgb(227, 233, 231);
            margin-left     : 3%;
            width           : 65%;
            font-size       : large;
            text-align      : center;

            .table {
                .highlight {
                    background-color: #9ece9d;
                    color           : white;
                    font-weight     : 700;
                }
            }
        }
    }
}