.price-container {
    display: flex;
    margin-top: 30px;

    .price-info {
        margin-top:30px;
        .price-method {
            margin-top: 90px;
            margin-left: 40px;
            background-color: #85c697;
            width:400px;
            height:200px;
            text-align: center;
            color:white;
            border-radius: 60px/60px;
            .method{
                margin-top:90px;
            }
            .pic{
                display:flex;
                width:70px;
                height:70px;
                margin-top:20px;
                .momo{
                    margin-right:20px;
                    margin-left:20px;
                    width:80px;
                    height:80px;
                }
                .vnp{
                    margin-left:60px;
                }
                .paypal{
                    margin-left: 20px;
                    width:90px;
                    height:90px;
                }
            }
        }
        .info{
            margin-left: 40px;
            background-color: #85c697;
            width:400px;
            height:350px;
            text-align: center;
            font-size: larger;
            border-radius: 60px/60px;
        }
    }

    .price-table {
        background-color: #85c697;
        margin-left: 200px;
        width: 800px;
        font-size: large;
        text-align: center;
        .table {
            .highlight {
                background-color:black;
                color:white
            }
        }
    }
}