.admin-container {
    .body-container {
        display         : flex;
        background-color: #212529;
    }

    .tool {
        position: absolute;
        color   : white;
        right   : 5%;
        top     : 2%;
    }
}