.changePW-container {
    text-align         : center;
    height             : 100vh;
    background-color   : #fff;
    background-image   : url('../../../assets/image/resetPWbackground.jpg');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;

    .ResetPasswordBox {
        display   : inline-block;
        text-align: center;
        margin    : 3rem;
        margin-top: 10%;

        .ResetPasswordForm {
            display         : flex;
            flex-direction  : column;
            background-color: rgb(203, 236, 188, 0.8);
            padding         : 2rem 10rem 2rem 10rem;
            border-radius   : 0.5rem;

            h1 {
                margin-bottom: 30px;
            }

            .Input {
                display       : flex;
                flex-direction: column;
                text-align    : left;
                margin-bottom : 0.9rem;

                label {
                    font-weight  : 500;
                    margin-bottom: 10px;
                }

                input {
                    border-radius: 0.3rem;
                    border       : 0;
                    padding      : 0.3rem;
                    width        : 215%;
                }

                .password-container {
                    display    : flex;
                    align-items: center;
                    position   : relative;

                    .password-toogle {
                        font-size: 1.2em;
                        position : absolute;
                        right    : 15px;
                        bottom   : 3px;
                        cursor   : pointer;
                    }
                }
            }

            .btn-group {
                display        : flex;
                justify-content: center;
                gap            : 15px;

                .Confirm {
                    margin-top      : 3.5rem;
                    border-radius   : 0.5rem;
                    border          : 0;
                    padding         : 0.5rem 2rem 0.5rem 2rem;
                    background-color: #33CCFF;
                    font-weight     : bold;
                    color           : white;
                    align-self      : center;
                }

                .back-btn {
                    margin-top      : 3.5rem;
                    border-radius   : 0.5rem;
                    border          : 0;
                    padding         : 0.5rem 2rem 0.5rem 2rem;
                    background-color: #33CCFF;
                    font-weight     : bold;
                    color           : white;
                    align-self      : center;
                }
            }

        }
    }
}