.background-container {
  display        : flex;
  justify-content: center;

  .forgetpassword-container {
    background-color: rgba(203, 236, 188, 0.8);
    border-radius   : 10px;
    padding         : 8%;
    margin-top      : 6%;

    .forgetpassword-form {
      width    : 50%;
      max-width: 600px;
      min-width: 300px;
      margin   : 0 auto;

      .title {
        text-align   : center;
        font-size    : 2em;
        font-weight  : 700;
        margin-bottom: 5%;
      }

      .form-label {
        font-weight: 600;
      }

      .forgetpassword-btn {
        text-align: center;
        margin-top: 8%;

        .confirm-btn {
          width           : 150px;
          background-color: #33CCFF;
          border          : 1px solid #18a5d4;
          margin-left     : 3%;

          &:hover {
            background-color: #18a5d4;
          }
        }
      }
    }
  }
}