.background-container {

  .forgetpassword-container {
    background-color: white;
    border-radius   : 10px;
    padding         : 8%;
    margin-top      : 6%;

    .forgetpassword-form {
      width    : 50%;
      max-width: 600px;
      min-width: 300px;
      margin   : 0 auto;

      .title {
        text-align   : center;
        font-size    : 2em;
        font-weight  : 700;
        margin-bottom: 5%;
      }

      .form-label {
        font-weight: 600;
      }

      .forgetpassword-btn {
        text-align: center;
        margin-top: 8%;

        button {
          width           : 150px;
          background-color: #33CCFF;
          border          : 1px solid #18a5d4;

          &:hover {
            background-color: #18a5d4;
          }
        }
      }
    }
  }
}