.login-background {
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;

    .background-container {
        .login-container {
            background-color: rgb(203, 236, 188, 0.8);
            border-radius   : 10px;
            padding         : 4% 2%;
            padding-top     : 2%;
            width           : 30%;
            min-width       : 450px;
            margin          : 5% auto;

            .register-prompt {
                display        : flex;
                align-items    : baseline;
                justify-content: flex-end;
                margin-bottom  : 5%;

                .title {
                    margin-right: 15px;
                    font-size   : 1.1em;
                    font-style  : italic;
                }

                .signup-btn {
                    background-color: #33CCFF;
                    border          : 1px solid #13c2fc;

                    &:hover {
                        background-color: #0ca4d6;
                    }
                }
            }

            .login-form {
                width    : 85%;
                max-width: 600px;
                min-width: 300px;
                margin   : 0 auto;


                .page-brand {
                    text-align   : center;
                    font-size    : 3em;
                    font-weight  : 600;
                    margin-bottom: 3%;
                }

                .title {
                    text-align   : center;
                    font-size    : 2em;
                    font-weight  : 600;
                    margin-bottom: 7%;
                }

                .form-label {
                    font-weight: 600;
                }

                .password-container {
                    display    : flex;
                    align-items: center;
                    position   : relative;

                    .password-toogle {
                        font-size: 1.2em;
                        position : absolute;
                        right    : 20px;
                        bottom   : 6px;
                        cursor   : pointer;
                    }
                }

                .checkbox-and-resetpw {
                    display    : flex;
                    align-items: baseline;

                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                    }

                    .check-pw {
                        font-weight: 600;

                        .form-check-label {
                            cursor: pointer;
                        }

                        .form-check-input {
                            cursor: pointer;
                        }
                    }

                    .text-muted {
                        text-align : right;
                        font-style : italic;
                        font-size  : 1.05em;
                        font-weight: 500;
                        cursor     : pointer;

                        &:hover {
                            color: rgb(136, 136, 136) !important;
                        }
                    }
                }


                .login-btn {
                    text-align: center;
                    margin-top: 20%;

                    button {
                        width           : 100px;
                        background-color: #33CCFF;
                        border          : 1px solid #13c2fc;

                        &:hover {
                            background-color: #0ca4d6;
                        }
                    }
                }

                .back-btn {
                    margin-top: 6%;
                    text-align: center;
                    width     : 100%;
                    font-size : 1.1em;

                    span {
                        cursor: pointer;

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }
            }

        }
    }
}