.register-background {
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;

  .background-container {
    .register-container {
      background-color: rgb(203, 236, 188, 0.8);
      border-radius   : 10px;
      padding         : 4% 2%;
      padding-top     : 2%;
      width           : 30%;
      min-width       : 450px;
      margin          : 5% auto;

      .register-prompt {
        display        : flex;
        align-items    : baseline;
        justify-content: flex-end;
        margin-bottom  : 5%;

        .title {
          margin-right: 15px;
          font-size   : 1.1em;
          font-style  : italic;
        }

        .signup-btn {
          background-color: #33CCFF;
          border          : 1px solid #13c2fc;

          &:hover {
            background-color: #18a5d4;
          }
        }
      }

      .register-form {
        width    : 85%;
        max-width: 600px;
        min-width: 300px;
        margin   : 0 auto;

        .page-brand {
          text-align   : center;
          font-size    : 3em;
          font-weight  : 600;
          margin-bottom: 3%;
        }

        .title {
          text-align   : center;
          font-size    : 2em;
          font-weight  : 600;
          margin-bottom: 5%;
        }

        .password-container {
          display    : flex;
          align-items: center;
          position   : relative;

          .password-toogle {
            font-size: 1.2em;
            position : absolute;
            right    : 20px;
            bottom   : 6px;
            cursor   : pointer;
          }
        }

        .form-label {
          font-weight: 600;
        }

        .register-btn {
          text-align: center;
          margin-top: 20%;

          button {
            width           : 100px;
            background-color: #33CCFF;
            border          : 1px solid #13c2fc;

            &:hover {
              background-color: #18a5d4;
            }
          }
        }

        .back-btn {
          margin-top: 4%;
          text-align: center;
          width     : 100%;
          font-size : 1.1em;

          span {
            cursor: pointer;

            &:hover {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}