.schedule-container {
    width         : 95%;
    padding       : 2%;
    border-radius : 15px;
    margin-bottom : 4%;
    margin-top    : 2%;
    padding-bottom: 0;


    .title {
        font-size    : 2.5em;
        font-weight  : 600;
        margin-bottom: 2%;
        padding      : 1%;
    }

    .schedule-body {
        padding-right : 7%;
        padding-bottom: 8%;

        .route-and-trip {
            background-color: #BAE1A7;
            border-radius   : 15px;
            padding         : 2%;

            .route-title {
                font-size    : 1.7em;
                font-weight  : 600;
                margin-bottom: 2%;
                padding      : 1%;
            }

            .route-list {
                width        : 50%;
                min-width    : 300px;
                margin-bottom: 4%;

                .css-13cymwt-control {
                    border-radius: 20px;
                }

                .detail-title {
                    font-size  : 1.3em;
                    font-weight: 600;
                    margin     : 3% 0;
                }

                .route-detail {
                    .table {
                        background-color: white;
                    }
                }
            }

            .trip-title {
                font-size    : 1.3em;
                font-weight  : 600;
                margin-bottom: 2%;
            }

            .trip-list {
                width: 80%;

                .table {
                    background-color: white;
                }
            }
        }

        .assign-container {
            background-color: #BAE1A7;
            border-radius   : 15px;
            padding         : 2%;
            margin-top      : 3%;

            .assign-title {
                font-size    : 1.7em;
                font-weight  : 600;
                margin-bottom: 2%;
                padding      : 1%;
            }

            .select-trip-title {
                font-size  : 1.3em;
                font-weight: 600;
                margin-top : 2%;
            }

            .select-trip {
                margin-top: 1%;
                width     : 50%;
                min-width : 300px;

                .css-13cymwt-control {
                    border-radius: 20px;
                }
            }

            .select-order-title {
                font-size  : 1.3em;
                font-weight: 600;
                margin-top : 2%;
            }

            .select-order {
                margin-top: 1%;
                width     : 50%;
                min-width : 300px;

                .css-13cymwt-control {
                    border-radius: 20px;
                }

                .detail-title {
                    font-size  : 1.3em;
                    font-weight: 600;
                    margin     : 3% 0;
                }

                .order-detail {
                    .table {
                        background-color: white;
                    }
                }
            }

            .confirm-btn {
                margin-top: 4%;
            }
        }

    }
}