.schedule-container {
    padding       : 2%;
    padding-left  : 0;
    border-radius : 15px;
    margin-bottom : 4%;
    margin-top    : 2%;
    padding-bottom: 0;


    .title {
        font-size       : 2vw;
        font-weight     : 600;
        margin-bottom   : 2%;
        background-color: #26a178;
        color           : white;
        border-radius   : 45px;
        padding         : 1%;
        width           : 39%;
        min-width       : 400px;
        text-align      : center;

    }

    .schedule-body {
        padding-bottom: 8%;

        .route-and-trip {
            background-color: #ffffff;
            border-radius   : 15px;
            padding         : 2%;

            .route-title {

                font-size       : 1.7em;
                font-weight     : 600;
                margin-bottom   : 2%;
                background-color: #1c1a12;
                color           : white;
                padding         : 1%;
                border-radius   : 15px;
                width           : 28%;
                min-width       : 215px;
                text-align      : center;
            }

            .route-list {
                width        : 80%;
                min-width    : 300px;
                margin-bottom: 4%;

                .css-13cymwt-control {
                    border-radius: 20px;
                }

                .detail-title {
                    font-size  : 1.3em;
                    font-weight: 600;
                    margin     : 3% 0;
                }

                .route-detail {
                    .table {
                        background-color: white;
                    }
                }
            }

            .trip-title {
                font-size    : 1.3em;
                font-weight  : 600;
                margin-bottom: 2%;
            }

            .trip-list {
                width: 96%;

                .table {
                    background-color: white;
                }
            }
        }



    }
}