.schedule-container {
    margin-top: 30px;
    width     : 80%;
    padding   : 0 2%;

    .title {
        font-size    : 2em;
        font-weight  : 600;
        margin-bottom: 2%;
    }

    .schedule-body {
        padding-right : 7%;
        padding-bottom: 8%;

        .route-title {
            font-size    : 1.5em;
            font-weight  : 600;
            margin-bottom: 2%;
        }

        .route-list {
            width        : 50%;
            min-width    : 300px;
            margin-bottom: 4%;
        }

        .trip-title {
            font-size    : 1.3em;
            font-weight  : 600;
            margin-bottom: 2%;
        }

        .trip-list {
            background-color: white;

        }

        .assign-title {
            font-size  : 1.5em;
            font-weight: 600;
            margin-top : 4%;
        }

        .select-trip-title {
            font-size  : 1.3em;
            font-weight: 600;
            margin-top : 2%;
        }

        .select-trip {
            margin-top: 1%;
            width     : 50%;
            min-width : 300px;
        }

        .select-order-title {
            font-size  : 1.3em;
            font-weight: 600;
            margin-top : 2%;
        }

        .select-order {
            margin-top: 1%;
            width     : 50%;
            min-width : 300px;
        }

        .confirm-btn {
            margin-top: 4%;
        }

    }
}