body {
  overflow: hidden;
  padding : 0;
  margin  : 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color       : #E6EBDB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.order-summary {
  background-color: white;
  border-radius   : 10px;
  padding         : 3%;
  font-size       : 1.1em;

  .bird-number {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 5%;
  }

  .route {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 5%;
  }

  .distance {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 5%;
  }

  .payment {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 5%;
  }

  .package {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 5%;
  }

  .handling-fee {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 5%;
  }
}

.form-label {
  font-weight: 500;
}

.add-new-status {
  background-color: aliceblue;
  border-radius   : 15px;
  padding         : 2%;
  border          : 1px solid rgb(193, 218, 240);
  margin-top      : 4%;

  .add-status-title {
    font-weight  : 500;
    font-size    : 1.1em;
    margin-bottom: 1%;
  }
}

.delete-confirm {
  background-color: aliceblue;
  border-radius   : 15px;
  padding         : 2%;
  border          : 1px solid rgb(193, 218, 240);
  margin-top      : 3%;

  .delete-title {
    font-weight  : 500;
    font-size    : 1.1em;
    margin-bottom: 1%;
  }

  .timestamp {
    margin-bottom: 2%;
  }
}

.edit-status {
  background-color: aliceblue;
  border-radius   : 15px;
  padding         : 2%;
  border          : 1px solid rgb(193, 218, 240);
  margin          : 4% 0;

  .edit-status-title {
    font-weight  : 500;
    font-size    : 1.1em;
    margin-bottom: 1%;
  }
}