.feedback-container{
    background-color: #CBECBC;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
        margin-bottom: 2rem;
    }

    .Box{
        width: 75%;
        align-self: center;
    .IconCell{
        width: 10%;
    .Icon{
        width: 50%;
        border-radius: 50%;
    }
    }
    
    .Name{
        width: 10%;
    }
    }

}

