.feedback-container {
    margin-top    : 2%;
    padding       : 2rem;
    display       : flex;
    flex-direction: column;

    .feedback-title {
        font-size       : 2em;
        font-weight     : 600;
        margin-bottom   : 2%;
        background-color: #426e2b;
        color           : #fff;
        border-radius   : 45px;
        padding         : 1%;
        width           : 39%;
        min-width       : 400px;
        text-align      : center;
    }


    .Box {
        width: 90%;

        .IconCell {
            width: 10%;

            .Icon {
                width        : 50%;
                border-radius: 50%;
            }
        }

        .Name {
            width: 10%;
        }

        .title {
            width: 15%;
        }

        .time {
            width: 20%;
        }
    }

}