.review-outer {
    border          : 1px solid white;
    padding-bottom  : 8%;
    background-color: #fff;
    border-bottom   : 4px solid #087c06;

    .review-container {
        .Header {
            border-radius   : 10px;
            background-color: #13470A;
            margin          : 3% auto;
            font-size       : 2em;
            font-weight     : 600;
            padding         : 1% 0;
            color           : #fff;
            width           : 60%;
            text-align      : center;

            @media screen and (max-width: 990px) {
                font-size: 1.5em;
            }
        }

        .review-list {
            display        : flex;
            justify-content: space-around;
            flex-wrap      : wrap;

            .card {
                width: 30%;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
                img {
                    height    : 50%;
                    object-fit: cover;
                }

                .header {
                    display        : flex;
                    justify-content: space-between;

                    .time {
                        color      : rgb(94, 94, 94);
                        font-weight: 500;
                    }
                }
                .card-body{
                    background-color: #8bbf8a;
                }

            }
        }
    }
}