.manage-routetrip-container {
    width         : 97%;
    padding       : 2%;
    padding-bottom: 5%;


    .title {
        font-size       : 2vw;
        font-weight     : 600;
        margin-bottom   : 3%;
        background-color: #26a178;
        border-radius   : 50px;
        padding         : 1.5rem;
        color           : white;
        width           : 45%;
        text-align      : center;
    }

    .route-trip-body {
        background-color: white;
        padding         : 2%;
        border-radius   : 15px;

        .manage-route {
            .add-btn {
                margin: 2% 0;
            }

            .table {
                button {
                    font-size: 0.85vw;
                }
            }

            .edit-route {
                margin-top      : 5%;
                background-color: aliceblue;
                border-radius   : 15px;
                padding         : 2%;
                border          : 1px solid rgb(193, 218, 240);

                .edit-route-title {
                    font-weight  : 600;
                    font-size    : 1.4em;
                    margin-bottom: 2%;
                }

                .edit-body {
                    .add-station-btn {
                        margin-bottom: 2%;
                    }
                }
            }

        }

        .manage-trip {
            .add-btn {
                margin: 2% 0;
            }


            .route-title {
                font-size  : 1.7em;
                font-weight: 600;
                margin     : 2% 0;
            }

            .route-list {
                width        : 80%;
                min-width    : 300px;
                margin-bottom: 4%;

                .css-13cymwt-control {
                    border-radius: 20px;
                }

                .detail-title {
                    font-size  : 1.3em;
                    font-weight: 600;
                    margin     : 2% 0;
                    margin-top : 5%;
                }

                .route-detail {
                    .table {
                        background-color: white;
                    }
                }
            }

            .trip-title {
                font-size  : 1.3em;
                font-weight: 600;
            }

            .trip-list {
                width    : 90%;
                min-width: 300px;

                .table {
                    button {
                        font-size: 0.85vw;
                    }
                }
            }

        }

        .manage-vehicle {
            .vehicle-title {
                font-size  : 1.5em;
                font-weight: 600;
                margin     : 2% 0;
            }

            .vehicle-list {
                width: 70%;
            }

        }

        .manage-station {
            .station-title {
                font-size  : 1.5em;
                font-weight: 600;
                margin     : 2% 0;
            }

            .station-list {
                button {
                    font-size: 0.85vw;
                }
            }

        }
    }
}